@charset "UTF-8";
/* Nav */
.listaMenu {
  font-size: 3vh;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

/* Footer*/
footer {
  background-color: #231F20;
  color: #3D7BBA; }

/* Estilo de la página contacto */
.horarios {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-variant: small-caps;
  color: #3D7BBA; }

.mapResponsive {
  overflow: hidden;
  padding-bottom: 30%;
  position: relative;
  height: 30vh; }
  .mapResponsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }

/* Estilo de la página de servicios */
.imagenServ {
  height: 65%; }

/* Estilo de la página de trabajos */
.video {
  height: 80vh;
  width: 80vw; }

/* Edición de Bootstrap */
.nav-link {
  color: darkgray; }
  .nav-link:hover {
    color: whitesmoke; }

.active {
  color: #3D7BBA; }

.bg-dark {
  background-color: #231F20 !important; }

/* MediasQuery */
@media only screen and (max-width: 576px) {
  .video {
    height: auto;
    width: 80%; } }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: darkgray; }
  a:hover {
    color: whitesmoke; }

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-variant: small-caps;
  color: #231F20; }

.portada1 {
  display: flex;
  height: 30vh;
  text-align: center;
  align-items: flex-end;
  justify-content: space-evenly;
  background-image: url(../img/AdakamLogo.png);
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  border-bottom: 1px solid #231F20; }

.tituloH1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-variant: small-caps;
  font-size: 100%;
  color: #231F20; }

.portada2 {
  height: 30vh;
  justify-content: space-evenly;
  background-image: url(../img/IMG_02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid #231F20; }

.tituloPagina {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-variant: small-caps;
  color: #231F20; }
