@charset "UTF-8";
/* Nav */
.fondo__Menu {
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 75%; }

/*
Completar este mixin de la siguiente manera:
$bck-image: URL de la Imagen
$bck-att: attachment
$altura: altura mínima
$size: tamaño de la imagen o Cover
*/
.fondoHeaderIndex {
  border-bottom: 1px solid #231F20;
  box-shadow: 2px -2px 16px 0px #231F20;
  background-image: url(../img/portada2.jpg);
  background-attachment: unset;
  min-height: auto;
  background-size: cover;
  animation: mymove 40s infinite; }

@keyframes mymove {
  0% {
    background-position: top left; }
  50% {
    background-position: bottom center; }
  100% {
    background-position: top left; } }

.fondoHeaderServicios {
  border-bottom: 1px solid #231F20;
  box-shadow: 2px -2px 16px 0px #231F20;
  background-image: url(../img/ADAKAM.jpg);
  background-attachment: fixed;
  min-height: auto;
  background-size: cover; }

.fondoHeaderTrabajos {
  border-bottom: 1px solid #231F20;
  box-shadow: 2px -2px 16px 0px #231F20;
  background-image: url(../img/trabajos.JPG);
  background-attachment: fixed;
  min-height: auto;
  background-size: cover; }

.fondoHeaderNosotros {
  border-bottom: 1px solid #231F20;
  box-shadow: 2px -2px 16px 0px #231F20;
  background-image: url(../img/cpx.jpg);
  background-attachment: fixed;
  min-height: auto;
  background-size: cover; }

.fondoHeaderContacto {
  border-bottom: 1px solid #231F20;
  box-shadow: 2px -2px 16px 0px #231F20;
  background-image: url(../img/contacto.jpg);
  background-attachment: fixed;
  min-height: auto;
  background-size: cover; }

.parallax1 {
  border-bottom: 1px solid #231F20;
  box-shadow: 2px -2px 16px 0px #231F20;
  background-image: url(../img/manodeobra.jpg);
  background-attachment: fixed;
  min-height: 50vh;
  background-size: cover; }

.parallax2 {
  border-bottom: 1px solid #231F20;
  box-shadow: 2px -2px 16px 0px #231F20;
  background-image: url(../img/30.JPG);
  background-attachment: fixed;
  min-height: 50vh;
  background-size: cover; }

.parallax3 {
  border-bottom: 1px solid #231F20;
  box-shadow: 2px -2px 16px 0px #231F20;
  background-image: url(../img/DSCN4130.JPG);
  background-attachment: fixed;
  min-height: 50vh;
  background-size: cover; }

.parallax4 {
  border-bottom: 1px solid #231F20;
  box-shadow: 2px -2px 16px 0px #231F20;
  background-image: url(../img/gabinete.jpg);
  background-attachment: fixed;
  min-height: 50vh;
  background-size: cover; }

.parallax5 {
  border-bottom: 1px solid #231F20;
  box-shadow: 2px -2px 16px 0px #231F20;
  background-image: url(../img/formacion.jpg);
  background-attachment: fixed;
  min-height: auto;
  background-size: cover; }

.listaMenu {
  display: contents;
  font-size: 3vh;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

.logoHeader {
  width: 30%;
  transition: 100ms; }
  .logoHeader:hover {
    transform: scale(1.1); }

.portada1, .portada1Index {
  display: flex;
  text-align: center;
  align-items: flex-end;
  justify-content: space-evenly;
  background-image: url(../img/AdakamLogo.png);
  background-position: center;
  background-position-y: 20vh;
  background-size: 60%;
  background-repeat: no-repeat;
  min-height: 50vh; }

.portada1Index {
  height: 90vh; }

.tituloH1 {
  text-align: right;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-variant: small-caps;
  color: whitesmoke;
  font-size: calc(1rem + 2.5vw);
  letter-spacing: 0.2vw; }

.portada2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: whitesmoke;
  text-shadow: calc(1px + 0.1vw) calc(1px + 0.1vw) black; }

/* Footer*/
footer {
  background-color: #231F20;
  background-image: linear-gradient(45deg, #231F20 50%, #3D7BBA);
  color: #3D7BBA;
  height: 100%;
  padding: 30px 0px 10px 0px;
  background-blend-mode: difference; }
  footer:hover {
    background-blend-mode: hard-light; }
  footer p {
    color: lightgray;
    font-size: 12px;
    padding: 0; }

.footerLogo {
  width: 130px; }

.footerCentr {
  display: flex;
  justify-content: center;
  align-items: center; }

.footer-menu {
  margin-bottom: 0;
  padding-left: 0;
  color: #3D7BBA; }
  .footer-menu li {
    text-transform: uppercase;
    font-weight: 900px;
    font-size: 16px;
    font-style: italic;
    list-style: none; }

.footerIcons {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.social-estilo {
  list-style: none;
  color: #3D7BBA; }

.iconFoot {
  transition: 500ms;
  border-radius: 20px; }
  .iconFoot:hover {
    transition: transform 0.4s;
    transform: rotateZ(360deg); }

.estiloBy {
  color: #3D7BBA; }

/* Estilo de la página contacto */
.horarios {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-variant: small-caps;
  letter-spacing: 0.2vw;
  transform: scaleY(110%);
  text-shadow: calc(1px + 0.1vw) calc(1px + 0.1vw) darkgray;
  text-align: center; }

.mapResponsive {
  overflow: hidden;
  padding-bottom: 30%;
  position: relative;
  height: 30vh; }
  .mapResponsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }

/* Estilo de la página de servicios */
.imagenServ {
  height: 65%; }

/* Estilo de la página de trabajos */
.video {
  height: 80vh;
  width: 80vw; }

.imgTrabajos {
  border-radius: 20px;
  max-height: 50vh; }

.zoomGal {
  transition: 500ms; }
  .zoomGal:hover {
    transition: 1250ms;
    cursor: pointer;
    transform: scale(180%); }

.galery {
  border-radius: 20px;
  overflow: hidden; }

/* Edición de Bootstrap */
.nav-link {
  color: darkgray; }
  .nav-link:hover {
    color: whitesmoke; }

.active {
  color: #3D7BBA; }

.bg-dark {
  background-color: #231F20 !important; }

.btn-primary {
  color: darkgray;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 100ms; }
  .btn-primary:hover {
    color: whitesmoke;
    background-color: #3D7BBA !important;
    transform: scale(1.08); }

.navbar {
  justify-content: center; }
  .navbar .container-fluid {
    justify-content: center; }

.navbar-toggler {
  background-color: darkgray;
  transition: 200ms; }
  .navbar-toggler:hover {
    background-color: whitesmoke;
    transform: scale(1.01, 1.01); }

/* MediasQuery */
@media only screen and (max-width: 768px) {
  .portada2 p {
    font-size: 1.1rem !important; } }

@media only screen and (max-width: 576px) {
  .video {
    height: auto;
    width: 80%; }
  .portada2 {
    height: auto;
    align-items: center; }
    .portada2 p {
      font-size: 1rem !important; }
  .portada1, .portada1Index {
    background-position-y: 7vh;
    min-height: 20vh;
    background-size: 40%; }
  .portada1Index {
    height: auto; }
  .tituloH1 {
    text-align: center; }
  .flex-dir-col {
    flex-direction: column; }
    .flex-dir-col p {
      padding: 8vh 0 5vh 0; }
  .flex-dir-col-rev {
    flex-direction: column-reverse; }
    .flex-dir-col-rev p {
      padding: 8vh 0 5vh 0; } }

.imgZoom2 {
  border-radius: 50% !important;
  border: 4px solid #3D7BBA;
  width: 200px;
  height: 200px; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: darkgray; }
  a:hover {
    color: whitesmoke; }

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-variant: small-caps;
  color: #231F20; }

main {
  background-color: rgba(0, 0, 0, 0.1); }

.tituloPagina {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-variant: small-caps;
  color: #231F20;
  letter-spacing: 0.2vw;
  transform: scaleY(110%);
  text-shadow: calc(1px + 0.1vw) calc(1px + 0.1vw) darkgray; }

.fondo, .fondoHeaderIndex, .fondoHeaderServicios, .fondoHeaderTrabajos, .fondoHeaderNosotros, .fondoHeaderContacto, .parallax1, .parallax2, .parallax3, .parallax4, .parallax5, .fondo__Qh {
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  color: whitesmoke; }

.fondoTitulo {
  background-image: radial-gradient(#3D7BBA, #231F20 125vh); }

.fondo__Qh {
  border-bottom: 1px solid #231F20;
  box-shadow: 2px -2px 16px 0px #231F20;
  background-image: url(../img/cpx.jpg);
  background-attachment: fixed;
  min-height: auto;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 2px -2px 16px 0px #231F20;
  border: 1px solid #231F20;
  text-shadow: calc(1px + 0.1vw) calc(1px + 0.1vw) black; }

.imgZoom, .imgZoom2 {
  transition: 500ms;
  border-radius: 20px; }
  .imgZoom:hover, .imgZoom2:hover {
    transform: scale(103%);
    box-shadow: 2px -2px 16px 0px #231F20; }

.marco {
  background-color: rgba(245, 245, 245, 0.05);
  border-radius: 25px; }
  .marco:hover {
    box-shadow: 2px -2px 16px 0px #231F20; }

.h3Portada {
  color: #3D7BBA;
  text-shadow: calc(1px + 0.1vw) calc(1px + 0.1vw) rgba(0, 0, 0, 0.931);
  letter-spacing: 0.2vw; }

.imgCurve, .imgCurveIng {
  border-radius: 10em;
  max-height: 50vh; }

.imgCurveIng {
  transition: 500ms; }
  .imgCurveIng:hover {
    filter: invert(97%); }
