/* Estilo de la página contacto */

.horarios{
    font-family:$fuente;
    font-variant:small-caps;
    letter-spacing: 0.2vw;
    transform: scaleY(110%);
    text-shadow: calc(1px + 0.1vw) calc(1px + 0.1vw) $colLink;  
    text-align: center;
}
.mapResponsive{
    overflow:hidden;
    padding-bottom: 30%;
    position:relative;
    height:30vh;
    iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
}