/* Estilo de la página contacto */

.horarios{
    font-family:$fuente;
    font-variant: small-caps;
    color: $azulFesto;
}
.mapResponsive{
    overflow:hidden;
    padding-bottom: 30%;
    position:relative;
    height:30vh;
    iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
}