/* Nav */
.fondo__Menu{
    background-color: $polarizado;
    opacity: 75%;
}
/*
Completar este mixin de la siguiente manera:
$bck-image: URL de la Imagen
$bck-att: attachment
$altura: altura mínima
$size: tamaño de la imagen o Cover
*/
@mixin fondoHeader($bck-image, $bck-att, $altura, $size) {
    @extend .fondo;
    border-bottom: 1px solid $colFondo;
    box-shadow: 2px -2px 16px 0px $colFondo;
    background-image: $bck-image;
    background-attachment: $bck-att;
    min-height: $altura;
    background-size: $size;
}
.fondoHeaderIndex{
    @include fondoHeader($fondoHeader, unset, auto, cover);
    animation: mymove 40s infinite;
}
@keyframes mymove {
    0% {background-position: top left;}
    50% {background-position: bottom center;}
    100% {background-position: top left;}

}
.fondoHeaderServicios{
    @include fondoHeader($fondoServicios, fixed, auto, cover)
}
.fondoHeaderTrabajos{
    @include fondoHeader($fondoTrabajos, fixed, auto, cover)
}
.fondoHeaderNosotros{
    @include fondoHeader($fondoNosotros, fixed, auto, cover)
}
.fondoHeaderContacto{
    @include fondoHeader($fondoContacto, fixed, auto, cover)
}
.parallax1{
    @include fondoHeader(url(../img/manodeobra.jpg), fixed, 50vh, cover)
}
.parallax2{
    @include fondoHeader(url(../img/30.JPG), fixed, 50vh, cover)
}
.parallax3{
    @include fondoHeader(url(../img/DSCN4130.JPG), fixed, 50vh, cover)
}
.parallax4{
    @include fondoHeader(url(../img/gabinete.jpg), fixed, 50vh, cover)
}

.parallax5{
    @include fondoHeader(url(../img/formacion.jpg), fixed, auto, cover)
}

.listaMenu{
    display: contents;
    font-size: 3vh;
    font-weight:lighter;
    font-family: $fuente
}
.logoHeader{
    width: 30%;
    transition:100ms;
    &:hover{
        transform: scale(1.1) ;
    }
}

.portada1 {
    display: flex;
    text-align: center;
    align-items: flex-end;
    justify-content: space-evenly;
    background-image: url(../img/AdakamLogo.png);
    background-position: center;
    background-position-y: 20vh;
    background-size: 60%;
    background-repeat: no-repeat;
    min-height: 50vh;
}
.portada1Index{
    @extend .portada1;
    height: 90vh;
}
.tituloH1 {
    text-align: right;
    font-family: $fuente;
    font-variant: small-caps;
    color: $colHov;
    font-size: $sizeTit;
    letter-spacing: 0.2vw;
}
.portada2 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color:$colHov;
    text-shadow: calc(1px + 0.1vw) calc(1px + 0.1vw) black;
}

