/* Nav */
.fondo__Menu{
    background-color: $polarizado;
    opacity: 75%;
}
@mixin fondoHeader($bck-image, $bck-att, $altura) {
    @extend .fondo;
    border-bottom: 1px solid $colFondo;
    box-shadow: 2px -2px 16px 0px $colFondo;
    background-image: $bck-image;
    background-attachment: $bck-att;
    min-height: $altura;
}
.fondoHeaderIndex{
    @include fondoHeader($fondoHeader, unset, auto)
}
.fondoHeaderServicios{
    @include fondoHeader($fondoServicios, fixed, auto)
}
.fondoHeaderTrabajos{
    @include fondoHeader($fondoTrabajos, fixed, auto)
}
.fondoHeaderNosotros{
    @include fondoHeader($fondoNosotros, fixed, auto)
}
.fondoHeaderContacto{
    @include fondoHeader($fondoContacto, fixed, auto)
}
.parallax1{
    @include fondoHeader($fondoContacto, fixed, 50vh)
}
.parallax2{
    @include fondoHeader(url(../img/30.JPG), fixed, 80vh )
}
.listaMenu{
    display: contents;
    font-size: 3vh;
    font-weight:lighter;
    font-family: $fuente
}
.logoHeader{
    width: 30%;
    transition:100ms;
    &:hover{
        transform: scale(1.1) ;
    }
}

.portada1 {
    display: flex;
    text-align: center;
    align-items: flex-end;
    justify-content: space-evenly;
    background-image: url(../img/AdakamLogo.png);
    background-position: center;
    background-position-y: 20vh;
    background-size: 60%;
    background-repeat: no-repeat;
    min-height: 50vh;
}
.portada1Index{
    @extend .portada1;
    height: 90vh;
}
.tituloH1 {
    text-align: right;
    font-family: $fuente;
    font-variant: small-caps;
    color: $colHov;
    font-size: $sizeTit;
    letter-spacing: 0.2vw;
}
.portada2 {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color:$colHov;
    text-shadow: calc(1px + 0.1vw) calc(1px + 0.1vw) black;
}

