@import "./variables";
@import "./header";
@import "./footer";
@import "./contacto";
@import "./servicios";
@import "./trabajos";
@import "./bootstrap";
@import "./mediaq";

*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:$colLink; 
    
    &:hover{
        color: $colHov; 
    }
}
h1{ 
    font-family: $fuente; 
    font-style:normal; 
    font-variant:small-caps;
    color:$colFondo;
}
.portada1{
    display: flex;
    height: 30vh;
    text-align:center;
    align-items: flex-end;
    justify-content:space-evenly;
    background-image: url(../img/AdakamLogo.png);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    border-bottom: 1px solid $colFondo;
}
.tituloH1{
    font-family: $fuente; 
    font-variant:small-caps;
    font-size: 100%;
    color:$colFondo;
}
.portada2{
    height: 30vh;
    justify-content: space-evenly;
    background-image: url(../img/IMG_02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid $colFondo;
}
.tituloPagina{
    font-family:$fuente; 
    font-variant:small-caps;
    color:$colFondo;   
}