@import "./variables";
@import "./header";
@import "./footer";
@import "./contacto";
@import "./servicios";
@import "./trabajos";
@import "./bootstrap";
@import "./mediaq";

*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:$colLink; 
    &:hover{
        color: $colHov; 
    }
}
h1{ 
    font-family: $fuente; 
    font-style:normal; 
    font-variant:small-caps;
    color:$colFondo;
}
.tituloPagina{
    font-family:$fuente; 
    font-variant:small-caps;
    color:$colFondo;
    letter-spacing: 0.2vw;
    transform: scaleY(110%);
    text-shadow: calc(1px + 0.1vw) calc(1px + 0.1vw) $colLink;  
}
.fondo{
    background-color: $polarizado;
    background-blend-mode:overlay ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color:$colHov;
}
.fondo__Qh{
    @extend .fondo;
    background-image: url(../img/cpx.jpg);
    background-attachment:fixed;
    border-radius: 20px;
    box-shadow: 2px -2px 16px 0px $colFondo;
    border: 1px solid $colFondo;
    text-shadow: calc(1px + 0.1vw) calc(1px + 0.1vw) black;
}
.imgZoom{
    transition: 300ms;
    border-radius: 20px;
    &:hover{
        transform: scale(1.01,1.01);
        box-shadow: 2px -2px 16px 0px $colFondo;
        border: 1px solid $colFondo;
    }
}
.h3Portada{
    color: $azulFesto ;
    text-shadow: calc(1px + 0.1vw) calc(1px + 0.1vw) rgba(0, 0, 0, 0.5);
    letter-spacing: 0.2vw;
}
.imgCurve{
    border-radius: 10em;
    max-height: 50vh;
}
.imgCurveIng{
    @extend .imgCurve;
    transition: 500ms;
    &:hover{
        filter: invert(97%);
    }
}